* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  /* background-image: image(`); */
  /* background-image:url('https://avatars.githubusercontent.com/u/108947867?v=4'); */
  background-image: linear-gradient(180deg, #8052ec, #71ff61);
}
#container{
  width: auto;
  display: flex;
  margin: auto;
  display: block;
  /* margin-top: 10%; */
  margin-bottom: 50px;
  text-align: center;
  /* border: 2px solid red; */
}
.clock {
  /* border: 2px solid red; */
  width:45%;
  /* height: 8em; */
  margin-top:50px;
  position: absolute;
  transform: translate(-50%, -50%);
  /* top: 35%; */
   left: 40%; 
  /* right: 70%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.clock div {
  position: relative;
  /* border: 2px solid red; */
   background-color: #16c91f; 
  height: 70%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3em;
  color: hsl(75, 84%, 47%);
  padding:10px;
  border-radius: 0.4em;
  box-shadow: 0 1em 2em rgba(199, 19, 19, 0.3);
  letter-spacing: 0.05em;
}
.clock span {
  font-weight: 800;
  font-size: 2.5em;
  color: #ffffff;
}

